rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas universales: Bloquear todo por defecto
    match /{document=**} {
      allow read, write: if false;
    }
    
    // Reglas para la colección de usuarios
    match /users/{userId} {
      // Permitir leer y escribir solo si el usuario autenticado coincide con el ID del documento
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Permitir acceso a todas las subcolecciones del usuario (clients, sales, leads)
      match /{collection}/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
